<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="lt.vu.mybatis.model.Author" alias="Author"/>
        <typeAlias type="lt.vu.mybatis.model.Post" alias="Post"/>
        <typeAlias type="lt.vu.mybatis.model.Tag" alias="Tag"/>
        <typeAlias type="lt.vu.mybatis.model.PostTag" alias="PostTag"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="BlogDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="mybatis.xml/AuthorMapper.xml"/>
        <mapper resource="mybatis.xml/PostMapper.xml"/>
        <mapper resource="mybatis.xml/TagMapper.xml"/>
        <mapper resource="mybatis.xml/PostTagMapper.xml"/>
    </mappers>
</configuration>
